//colors
$light-yellow: #E5EACB;
$light-green: #A9B181;
$dark-green: #313714;
$dark-green-2: #1C2200;
$dark-green-3: #575E38;
$bodily: #A0937D;
$dark: #161616;
$dark-2: #18181B;
$silver: #D4D4D8;
$gray: #52525B;
$gray-2: #C2C2C2;

//txt
$txt-xxs: 16px;
$txt-xs: 18px;
$txt-s: 20px;
$txt-m: 21px;
$txt-l: 42px;
$txt-xl: 48px;
$txt-xxl: 52px;
$txt-xxxl: 60px;